In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def cleanNewsDf(df):
  uniqueDates = df.groupby('Date')
  newsDic = {}
  for date,group in uniqueDates:
    for news in (group['News'].to_list()):
      if date in newsDic:
        newsDic[date][0] += news
      else:
        newsDic[date] = [news]
  
  dfDate = pd.DataFrame.from_dict(newsDic,'index')
  dfDate.columns = ['News']
  dfDate['Date'] = dfDate.index
  dfDate = dfDate.reindex(columns = ['Date', 'News'])
  dfDate = dfDate.reset_index(drop=True)
  dfDate = dfDate.replace(np.nan, ' ', regex=True)
  dfDate = dfDate.replace('b\"|b\'|\\\\|\\\"', '', regex=True)
  return dfDate

In [ ]:
redditNews    = pd.read_csv('/content/sample_data/RedditNews.csv')
redditNews = cleanNewsDf(redditNews)

In [ ]:
import nltk
nltk.download('vader_lexicon') # one time only (Valence Aware Dictionary and sEntiment Reasoner)
from nltk.sentiment.vader import SentimentIntensityAnalyzer
vader = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [ ]:
def addPolarityScores(df):
  negLst = []
  neuLst = []
  posLst = []
  comLst = []

  nrows = df.shape[0]
  for i in range(nrows):
    s = str(df.iloc[i,1])
    pScores = vader.polarity_scores(s)
    neg = pScores['neg']
    negLst.append(neg)
    neu = pScores['neu']
    neuLst.append(neu)
    pos = pScores['pos']
    posLst.append(pos)
    com = pScores['compound']
    comLst.append(com)

  df['neg'] = negLst
  df['neu'] = neuLst
  df['pos'] = posLst
  df['compound'] = comLst

  return df

In [ ]:
redditSentiment = addPolarityScores(redditNews)
redditSentiment

            Date  ... compound
0     2008-06-08  ...  -0.9974
1     2008-06-09  ...  -0.9972
2     2008-06-10  ...  -0.9943
3     2008-06-11  ...  -0.9728
4     2008-06-12  ...  -0.9681
...          ...  ...      ...
2938  2016-06-27  ...  -0.9683
2939  2016-06-28  ...  -0.9633
2940  2016-06-29  ...  -0.9968
2941  2016-06-30  ...  -0.9978
2942  2016-07-01  ...  -0.9982

[2943 rows x 6 columns]

In [ ]:
redditSentiment.to_csv('djiaNewsSentiment.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive